.logo {
  gap: 0.5rem;
}
#menu li {
  color: var(--dark);
  transition: 0.3s;
  font-size: 1.5rem;
}
#menu li:hover {
  cursor: pointer;
  color: var(--orange);
}
.icon_menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--black);
}

.bar_1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar_2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar_3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check_icon:checked + .icon_menu > .bar_1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check_icon:checked + .icon_menu > .bar_3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check_icon:checked + .icon_menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}
/* FIN ICON_MENU */
.pop {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark);
  width: 70vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  text-align: center;
  border-radius: 20px;
  box-shadow: 8px 7px 0px var(--red);
  display: none;
}
.pop ul li {
  color: var(--white) !important;
}
@media (max-width: 767px) {
  .pop {
    display: flex;
  }
}
/* log in  */
.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #fa5647, #f77f00);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
  margin-bottom: 0;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}
