:root {
  --red: #fa5647;
  --beige: #fde7d2;
  --orange: #f77f00;
  --dark: #034163;
  --white: #fffef5;
  --green: #28e028;
  --black: #212121;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  color: unset !important;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 1px solid black !important;
}
input:visited,
textarea:visited {
  outline: none;
}
