.radio_inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1rem;
}

.radio_inputs > * {
  margin: 6px;
}

.radio_input:checked + .radio_tile {
  border-color: var(--orange);
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.1);
  color: var(--orange);
}

.radio_input:checked + .radio_tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--orange);
  border-color: var(--orange);
}

.radio_input:checked + .radio_tile .radio_icon svg {
  fill: var(--orange);
}

.radio_input:checked + .radio_tile .radio_label {
  color: var(--orange);
}

.radio_input:focus + .radio_tile {
  border-color: var(--orange);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #fcd5b5;
}

.radio_input:focus + .radio_tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio_tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: var(--beige);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio_tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: var(--beige);
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio_tile:hover {
  border-color: var(--orange);
}

.radio_tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio_icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio_label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}

.radio_input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 350px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(16, 137, 211);
}

.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form .input::placeholder {
  color: rgb(170, 170, 170);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #12b1d1;
}

.form .forgot_password {
  display: block;
  margin: 1rem 0;
  margin-left: 10px;
}

.form .forgot_password a {
  font-size: 11px;
  color: #0099ff;
  text-decoration: none;
}

.form .login_button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login_button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login_button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}
